*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
   padding: 0;
  background:#000; 
    display:block;
 }
 
 .backgrnd{
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    z-index: 0;
 }

  .flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    margin-top: 20vh;
  }
  .flexP1{
    z-index: 1;
  }
  #pfp{
    height: 200px;
    width: 200px;
    border-radius: 255px;
    margin-bottom: 10px;
  }

#Naam{
    height: 70px;
    font-size: 50px;
    margin-bottom: 5px;
    color: lightskyblue;
}
#Motivatie{
    color: lightskyblue;
    font-size: 35px;
    height: 50px;
    border-radius: 255px;
    background-color: rgba(0,0,0, 0.3 );
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

 

  #skills{
    margin-bottom: 20px;
  }
  #Ik{
    padding-left: 65px;
    padding-right: 65px;
  }

  .knopP1{
    color: black;
    display: grid;
    font-size: 40px;
    background-color: #2787f5;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    justify-content: center;
  }
  .knopP1:hover{
    background-color: lightcoral;
    transition-duration: 500ms;
  }
  

