*{
    margin: 0px;
    padding: 0px;
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
   padding: 0;
  }

  nav {
    background-color: black;
    display: none;
    position: absolute;
    top: 15px; 
    left: 0px;
    z-index: 1;
}

nav.show {
    display: block;
}


nav nav-bar li a {
    display: block;
    color:white;
    padding: 10px 20px;
}


#navToggle {
    position: absolute;
    top: 0;
    left:0; 
    z-index: 2;
}




  .grid-container {
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: auto ;
    background-color: white;

  }

  .grid1 {

    background-color: lightgray;
    padding: 20px;
    text-align: center;
    grid-row: span 2;
    grid-column: 1;
  }

  .grid2 {
    margin: 0;
    padding-top: 30px;
    height: 270px;
    background-color: red;
    text-align: center;
    grid-row-start: 1;
    grid-row: span 1;
    grid-column: span 1;
  }

  .grid3 {
padding-top: 30px;
    text-align: center;
    height: 270px;
    background-color: blue;
    grid-row: 2;
    grid-column: 2;
  }