*{
    margin: 0;
    padding: 0;
}
#home-knop{
  
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
}
.backgrnd{
    top: 0;
    height: 100VH;
    width: 100VW;
    position: absolute;
    opacity: 1;
    z-index: 0;
 }

 #grid-container1{
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 8%;
    z-index: 0;
}

.Kopjes{
    position: relative;
   
}

#flex-containerMij{
margin-top: 5%;
margin-left: 20%;
}

.flexOverMij{
border-radius: 50px;
display: flex;
flex-direction: row;
width: 60%;
height: 40vh;
background-color: lightblue;
margin-left: 20%;
}


#MijImg{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#SoftSkillsImg{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.OverMij-img{
    width: 30%;
}

.SKillsText{
    width: 70%;
}

.MijTitel{
    margin-left: 7%; 
    padding-top: 1%;
    font-size: 200%;
    text-decoration: underline;
}


ul{
    margin-left: 10%;
    padding-top: 1.5%;
    font-size: 130%;
    
}


li{
    padding-top: 1.5%;
}

#Kopje2 ul {
    font-size: 190%;
    
}




#Kopje2 li{
    padding-top: 2.5%;
}
@media (max-width: 1025px){
    .flexOverMij{
        width: 70vw;
    }
}

@media (max-width: 769px) {

    
    .OverMij-img{
        width: 40%;
    }

    ul{
        margin-left: 35px ;
        font-size: 85%;
    }

    #Kopje2 ul {
        font-size: 100%;
    }
}

@media (max-width: 527px){

    #MijImg{
        height: 0vh;
        width: 0vw;
    }
    #SoftSkillsImg{
        height: 0vh;
        width: 0vw;
    }

    #flex-containerMij{
        margin-top: 30%;
        
    }
   
    #grid-container1{
        margin-left: -40px;
        gap: 0%;
    }
    ul{
    font-size: 85%;
    }

    #Kopje2 ul {
        font-size: 120%;
        
    }
    .SKillsText{
        width: 100vw;
    }
  .flexOverMij{
    padding: 0px;
    margin-top: 40px;
    height: 35vh;
    width: 80vw;
  }
}
@media(max-width: 376px){
    ul{
        font-size: 75%;
        }
}