*{
    margin: 0;
    padding: 0;
}
#home-knop{
  
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
}

#grid-container1{
    position: absolute;
    display: grid;
height: 100%;
width: 100%;
    grid-template-rows: 1fr 1fr;
gap: 8%;
    z-index: 0;
}

.Kopjes{
    top: 0;
    left: 0;
   
}
