*{
    margin: 0;
    padding: 0;
}
#home-knop{
  
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
}

#grid-container1{
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 8%;
    z-index: 0;
}

.Kopjes{
    position: relative;
   
}

#flex-containerTalen{
display: flex;
flex-direction: row;
width: 60%;
height: 350px;
background-color: lightblue;
margin-top: 5%;
margin-left: 20%;
}

#talen-img{
    width: 30%;
    
}

#talen{
    width: 70%;
}

#Talen-titel{
    padding-top: 1%;
    font-size: 50px;
    margin-left: 7%;
    text-decoration: underline;
}

ul{
    margin-left: 10%;
    padding-top: 1.5%;
    font-size: 35px;
}

li{
    padding-top: 1.5%;
}


